:root{
  /* 색상 */
  --text-color: black;
  --background-color: #24292e;
  --link-color: #0366d6;
  --border-color: #d1d5da;

  /* Size */
  --spacing: 12px;
  --spacing-small: 6px;
  --avatar-size: 36px;

  /* Font Size */
  --font-large: 20px;
  --font-regular: 16px;
  --font-medium: 14px;
  --font-small: 12px;
  --font-micro: 10px;
}


body{
  margin:0;
}

/* ///////////////////////////////////// 헤더 시작  //////////////////////////////////////// */
header{
  background-color: var(--background-color);
  padding: 8px 12px;
  z-index: 8;
}


.navbar{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 45px;
  width: 100%;
}

.navbar a{
  text-decoration: none;
  color: white;
  font-size:0.85rem;
 }


.navbar_logo{
  background-color: white;
  border-radius: 50%;
  margin-left: 20px;
} 

.navbar_logo img{
  width: 34px;
  height: 30px;
}

#searchBar{
  background: none;
  border-color: white;
  border-width: 1px;
  padding: 5px 12px;
  border-radius: 6px;
  margin-left: 20px;
}

.navbar_menu{
  display:flex;
  list-style: none;
  margin-left: -25px;
}

.navbar_menu li{
  font-weight: 600;
  white-space: nowrap;
  padding: 1px 6px;
}

.navbar_icons{
  display: flex;
  list-style: none;
  color: white;
  margin-left: auto;
}

.navbar_icons li{
  padding: 8px 12px;
}

.avatar {
  vertical-align: baseline;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
/* ///////////////////////////////////// 헤더 끝  //////////////////////////////////////// */



/* top 시작 */
.top{
  /* border: 1px solid black; */
  width: 100%;
  z-index: 6;
 
}

.top_menu{
  display: flex;
  justify-content: center;
  list-style: none;
}

.top_menu li{
  padding: 1px 12px;
  font-size: 14px;
}

.top a{
  color: black;
  text-decoration: none;
}


/* top 끝 */


/*  mid 시작 */
.mid{
  z-index: 4;
  border-top: 1px solid var(--border-color);
  display: flex;
  /* justify-content: space-around; */
  height: 48rem;
}

.side{
  margin-left: 300px;
}


.side img{
  border-radius: 50%;
}


.side .followers a{
  text-decoration:none;
  color: #586069;
}


.main{
  margin-left: 30px;
  width: 53%;
}

.main .caption{
  color:black;
}

.first-content{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.first-content > div{
  border: 1px solid var(--border-color);
  flex-basis: 45.8%;
  padding: 20px 15px;
  width: 200px;
  margin-bottom: 20px;
  height: 70px;
}

.first-content div a{
  text-decoration: none;
  color: var(--link-color);
}

.first-content .description{
  margin-top: 9px;
}

.second-content{
  border: 1px solid var(--border-color);
  height: 180px;
  width: 100%;
}

.second-content div img{
  text-align: center;
}

.second-content a{
  text-decoration: none;
  color: var(--link-color);
}

#cal-heatmap{
  width: 100%;
  margin: 25px 60px;
}

.third-section{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  
  margin: 16px auto;

}

.third-caption{
  width: 100%;
}

.third-caption > button{
  width: 100%;
  height: 35px;
  border: 1px solid var(--border-color);
  border-radius: 6px ;
  background-color: white;
  color: var(--link-color);
  
}

.upper-third-content{
  display: flex;
  align-items: center;  
  justify-content: space-between;
}

.upper-third-content h3{
  border-top: 1px solid var(--border-color);
  width: 92%;
}

.upper-third-content span{
  margin-left: 12px;
  font-size : 15px;
}


.third-caption :nth-child(3){
  text-align: center;
  font-size: 15px;
}

.btns{
  display: flex;
  flex-direction: column;
}

.btns button{
  width: 150px;
  height: 40px;
  background: white;
  border: none;
}

.btns .active{
  background-color: var(--link-color);
  border-radius: 10px;
  color: white;
}

/* mid 끝 */


/* footer시작 */
  footer{
    z-index: 2;
    display:flex;
    justify-content: center;
    border-top: 1px solid var(--border-color)
  }

  .footer_menu{
    display:flex;
    list-style: none;
  }

  .footer_menu li{
    padding: 1px 18px;
    font-size: 12px;
  }

  footer a{
    text-decoration: none;
    color: var(--link-color);
  }

/* footer 끝 */


